@import "templates/variables";
@import "templates/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/alerts";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/tab-focus";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/forms";

body {
	background-color: #F5F5F5;
	&.pace-running {
		overflow: hidden;
		height: 100%;
	}
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background-color: #FFF;
}
::-webkit-scrollbar-thumb {
	background-color: $red-cfg;
}
::-webkit-scrollbar-thumb:hover {
	background-color: darken($red-cfg,5%);
}

::-webkit-selection,
::selection {
	background-color: darken($red-cfg,5%);
	color: #FFF;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: $first-font;
}

a{color: $red;}
a:hover, a:focus{color: darken($red, 10%);}

.pace { 
	border-color: $red !important;
	.pace-progress {
		background-color: $red !important;
	}
}

.title-upper{
	text-transform: uppercase;
	z-index: 1;
	margin: 0;
	text-align: center;
	color: $grey-dark;
	&:before,
	&:after {
		content: '';
		display: block;
		width: 40%;
		height: 3px;
		background-color: $brown;
		margin: 40px auto 10px;
	}
	&:after {
		width: 60%;
		margin: 10px auto 40px;
	}
}

.breadcrumb{
	background-color: transparent;
	border-radius: 0;
	li+li:before{
		content: "\00d7"; // X
	}
}

@import "templates/header";
@import "templates/animate";
@import "templates/nav";
@import "templates/sobre";
@import "templates/posts";
@import "templates/contato";
@import "templates/pagination";
@import "templates/search";
@import "templates/sidebar";
@import "templates/back-to-top";
@import "templates/footer";
