.logo-mobile{
	@media (min-width: $screen-lg-min) {
		width: 35%;
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 42.5%;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 51.6%;
	}
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		width: 54.6%;
	}
	@media (max-width: $screen-xs-min) {
		width: 90%;
	}
	width: 54.6%;
	display: table;
	margin: 80px auto;
	position: relative;
	overflow: hidden;
	.emblem-inner{
		display: block;
		position: relative;
		overflow: hidden;
		img {
			width: 6000%;
			height: auto;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}

.pace-done .logo-mobile .emblem-inner img{
	@include animation(logo 1500ms steps(59) 500ms normal 1 forwards running);
}

@-webkit-keyframes logo{
	0%{left:0;}
	100%{left: -5900%;}
}
@-moz-keyframes logo{
	0%{left:0;}
	100%{left: -5900%;}
}
@-ms-keyframes logo{
	0%{left:0;}
	100%{left: -5900%;}
}
@-o-keyframes logo{
	0%{left:0;}
	100%{left: -5900%;}
}
@keyframes logo{
	0%{left:0;}
	100%{left: -5900%;}
}