.top{
	background-color: $red;
	position: fixed;
	padding: 12px;
	right: 15px;
	bottom: 15px;
	color: #FFF;
	font-size: 16px;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	@include box-shadow(0 0 30px 10px rgba(black,.15));
	@include transition();
	&.visible {
		visibility: visible;
		opacity: 1;
	}
	@media (min-width: $screen-sm-min) {
		right: 20px;
		bottom: 20px;
	}
	@media (min-width: $screen-md-min) {
		padding: 22px;
		right: 30px;
		bottom: 30px;
	}
	span{
		display: block;
	}
	&:hover{
		background-color: darken($red, 10%);
		text-decoration: none;
		color: #FFF;
	}
	&:focus{
		text-decoration: none;
		color: #FFF;
	}
}