#contato{
	h2{
		margin-top: 0;
		margin-bottom: 40px;
		@media (max-width: $screen-xs-max) {
			font-size: 24px;
		}
	}
	.wpcf7-form {
		width: 100%;
		display: table;
		padding: 0;
		.alert {
			margin-top: 0;
		}
		.form-group {
			margin-bottom: 20px;
			input[type="text"],
			input[type="email"],
			input[type="tel"],
			textarea {
				border: 1px solid $brown;
				border-radius: 0;
				-webkit-border-radius: 0;
				@include placeholder($brown);
				&:focus{
					box-shadow: 0 0 4px rgba($brown,.3);
				}
			}
			textarea {
				height: 200px;
				resize: none;
			}
			&.has-error .form-control {
				border-color: $red;
			}
			&.antbot {
				width: 100%;
				display: table;
				position: relative;
				@include quizForm($brown);
			}
			span.wpcf7-not-valid-tip {
				position: absolute;
				display: table;
				width: 100%;
				font-size: 12px;
				margin: 3px 0 0;
			}
			> div {
				width: 100%;
				display: table;
				margin-bottom: 0;
				.btn {
					/*
					width: 100%;
					*/
					padding: 7px 50px;
					float: right;	
					background-color: $red;
					font-weight: 700;
					font-size: 16px;
					color: #FFF;
					border: none;
					border-radius: 0;
					@include transition();
					&:hover,
					&:focus {
						background-color: darken($red, 10%);
					}
				}
			}
		}
		.ajax-loader {
			margin-top: 10px;
		}
	}
	.separador{
		span{
			width: 100%;
			display: block;
			color: $grey-dark;
			font-weight: 700;
			font-size: 36px;
			text-align: center;
			&:before,
			&:after {
				content: '';
				display: block;
				width: 60%;
				height: 3px;
				background-color: $brown;
				margin: 0 auto 10px;
			}
			&:after {
				width: 40%;
				margin: 10px auto 20px;
			}
		}
	}
	.contact-email{
		background-color: $red;
		width: auto;
		display: table;
		margin: 20px auto 0;
		color: #FFF;
		font-size: 18px;
		@include transition();
		i{
			padding: 15px;
			background-color: darken($red, 10%);
			float: left;
		}
		span{
			padding: 15px;
			line-height: 20px;
			float: right;
		}
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}
}