.footer{
	background-color: $brown;
	margin: 20px auto 0;
	.widget {
		background-color: transparent;
	}
	section{
		color: $rose;
		padding: 0 15px;
		&:first-child{
			padding: 20px 15px 0;
		}
		&:last-child{
			padding: 0 15px 20px;
		}
		strong{
			display: table;
			margin: 0 auto;
			text-align: center;
			span{
				display: block;
			}
		}
		.custom-logo-link{
			width: auto;
			display: table;
			margin: 0 auto 20px;
			img{
				width: 200px;
				@media (max-width: $screen-sm-max) {
					width: 30%;
				}
				@media (max-width: $screen-xs-max) {
					width: 40%;
				}
				height: auto;
				display: table;
				margin: 0 auto;
			}
		}
		a.icon-footer{
			background-color: $red;
			display: table;
			margin: 0 auto 20px;
			padding: 10px;
			@include box-shadow(0 0 30px 10px rgba(black,.15));
			svg{
				width: 20px;
				height: 20px;
				display: table;
				fill: #FFF;
			}
		}
	}
}