.header{
	margin-top: 50px;
	width: 100%;
	.jarallax {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		.color{
			background-color: rgba($brown, .8);
			@include divFull();
		}
		.custom-logo-link{
			display: table;
			margin: 80px auto;
			overflow: hidden;
			img{
				width: 90%;
				height: auto;
				display: table;
				margin: 0 auto;
			}
		}
	}
}