// Placeholder text
@mixin placeholder($color: $color-placeholder) {
	// Firefox
	&::-moz-placeholder {
	color: $color;
	opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}
	&:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

@mixin transition($property: all, $duration: 200ms, $function: ease ) {
	-webkit-transition: $property $duration $function;
	   -moz-transition: $property $duration $function;
		-ms-transition: $property $duration $function;
		 -o-transition: $property $duration $function;
			transition: $property $duration $function;
}

@mixin animation($animation...) {

// animation-name				Nome da Função
// animation-duration			<time>
// animation-timing-function	ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end, cubic-bezier(x1, y1, x2, y2)
// animation-delay				<time>
// animation-direction			normal | reverse | alternate | alternate-reverse
// animation-iteration-count	infinite | <number>
// animation-fill-mode			none | forwards | backwards | both
// animation-play-state			running | paused

	-webkit-animation: $animation;
	   -moz-animation: $animation;
		-ms-animation: $animation;
		 -o-animation: $animation;
			animation: $animation;
}

@mixin filterGrey($scale: 1) {
	-webkit-filter: grayscale($scale);
       -moz-filter: grayscale($scale);
        -ms-filter: grayscale($scale);
         -o-filter: grayscale($scale);
            filter: grayscale($scale);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow; // iOS <4.3 & Android <4.1
          text-shadow: $shadow;
}

@mixin fontsize($size: 26, $base: 16) {
	font-size: $size + px;
	font-size: ($size/$base) * 1rem;
}

@mixin divFull() {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}

@mixin quizForm($value){
	.wpcf7-quiz{
		text-indent: 50px;
	}
	p {
		height: 34px;
		line-height: 34px;
		display: table;
		position: absolute;
		left: 15px;
		color: $value;
		font-weight: bold;
		margin: 0;
	}
}