.navbar-default {
	background-color: $red;
	font-family: $first-font;
	letter-spacing: 1px;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
	@include box-shadow(0 0 30px 10px rgba(black,.15));
	@include transition();
	.navbar-brand{
		background-color: $red-cfg;
		&:hover,
		&:focus{
			background-color: $red-cfg;
		}
		a{
			color: #FFF;
			&:hover,
			&:focus{
				text-decoration: none;
			}
		}
	}
	.navbar-toggle {
		border: none;
		border-radius: 0;
		&:hover,
		&:focus{
			background-color: transparent;
		}
		.icon-bar {
			background-color: #FFF;
		}
	}
	.navbar-collapse {
		border: none;
		.navbar-nav {
			@media (min-width: $screen-sm-min) {
				float: right;
				margin: 0 auto;
				display: table;
			}
			li {
				a {
					text-transform: uppercase;
					color: #FFF;
				}
				&.active a,
				&.active a:hover,
				&.active a:focus,
				& a:hover,
				& a:focus {
					background-color: $red-cfg;
					color: #FFF;
				}
			}
		}
	}
}