.pages {
	.pager {
		margin: 10px 0;
		li {
			a{
				background-color: $red;
				color: #FFF;
				border: none;
				border-radius: 0;
				position: relative;
				@include transition();
				span {
					border: none;
					border-radius: 0;
					@include transition();
					@media (max-width: $screen-sm-max) {
						&.title{
							display: none;
						}
					}
				}
				&:hover,
				&:focus {
					background-color: darken($red, 10%);
				}
			}
		}
	}
}