.posts-gallery{
	a{
		h2, h3{
			color: $grey-dark;
			margin-bottom: 15px;
			position: relative;
			font-size: 24px;
			&:after {
				content: '';
				background-color: $brown;
				width: 0;
				height: 3px;
				display: block;
				position: absolute;
				margin-top: 5px;
				visibility: hidden;
				opacity: 0;
				@include transition();
				@media (max-width: $screen-sm-max){
					width: 100%;
					visibility: visible;
					opacity: 1;
				}	
			}
		}
		figure{
			overflow: hidden;
			position: relative;
			img{
				width: 100%;
				@include transition();
			}
			.color{
				background-color: rgba($brown, .8);
				@include divFull();
				@include transition();
				opacity: 0;
				@media (max-width: $screen-sm-max){
					display: none;
				}
			}
			span{
				position: absolute;
				color: $rose;
				font-size: 100px;
				left: 50%;
				top: 50%;
				margin: -50px 0 0 -50px;
				visibility: hidden;
				opacity: 0;
				@include transition();
				@media (max-width: $screen-sm-max){
					display: none;
				}
			}
		}
		@media (min-width: $screen-md-min){
			&:hover{
				figure{
					img{
						transform: scale(1.1);
						@include filterGrey(1);
					}
					.color{
						opacity: 1;
					}
					span{
						visibility: visible;
						opacity: .3;
						color: $rose;
					}
				}
			}
		}
		&:hover,
		&:focus{
			text-decoration: none;
			@media (min-width: $screen-md-min){
				h2:after,
				h3:after {
					width: 100%;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.container-text{
		background-color: #FFF;
		width: 100%;
		display: table;
		color: $brown;
		font-size: 20px;
		padding: 50px;
		margin: 20px 0;
		z-index: 1;
		@include box-shadow(0 0 30px 10px rgba(0,0,0,.15));
	}
	.btn{
		background-color: $red;
		border: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		display: block;
		padding: 10px 0;
		color: #FFF;
		font-family: $first-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 1;
		@include transition();
		@include box-shadow(0 0 30px 10px rgba(0,0,0,.125));
		span{
			color: #FFF;
		}
		&:hover,
		&:focus{
			background-color: darken($red, 10%);
		}
	}
}