label {
	display: block;
	max-width: 100%;
	font-weight: bold;
	padding: 0 !important;
	margin-bottom: 0;
}
input[type="search"] {
	background-color: $input-bg;
	background-image: none;
	width: 100%;
	height: $input-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base;
	line-height: $line-height-base;
	display: block;
	border: none;
}
button[type="submit"] {
	background-color: $red;
	background-image: none;
	color: #FFF;
	height: $input-height-base;
	padding: $padding-base-vertical 0 !important;
	margin-bottom: 0;
	font-size: $font-size-base;
	line-height: $line-height-base;
	text-align: center;
	font-weight: bold;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	@include transition();
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: darken($red, 10%);
	}
}
header{
	form.search-form{
		position: fixed;
		z-index: 9999;
		width: 100%;
		top: -50px;
		&.open{
			top: 0;
		}
		@include transition();
		label {
		}
		input[type="search"] {
			height: 50px;
		}
		button[type="submit"] {
			background-color: $red;
			height: 50px;
			&:hover,
			&:focus {
				text-decoration: none;
				background-color: darken($red, 10%);
			}
		}
	}
}
.btn-search{
	background-color: $red;
	position: fixed;
	padding: 12px;
	left: 15px;
	bottom: 15px;
	color: #FFF;
	font-size: 16px;
	z-index: 9999;
	@include box-shadow(0 0 30px 10px rgba(black,.15));
	@include transition();
	@media (min-width: $screen-sm-min) {
		left: 20px;
		bottom: 20px;
	}
	@media (min-width: $screen-md-min) {
		padding: 22px;
		left: 30px;
		bottom: 30px;
	}
	span{
		display: block;
	}
	&:hover{
		background-color: darken($red, 10%);
		text-decoration: none;
		color: #FFF;
	}
	&:focus{
		text-decoration: none;
		color: #FFF;
	}
}