.widget-area {
	h3,
	h3 a {
		color: lighten($rose, 10%);
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 2px solid darken($brown, 10%);
		padding: 0 10px 10px;
		margin-top: 0;
		&.rsswidget {
			border-bottom: none;
			padding: 0;
		}
	}
	.widget {
		background-color: $brown;
		margin-bottom: 20px;
		padding: 15px;
		> div {
			display: table;
			width: 100%;
		}
		table {
			width: 100%;
			max-width: 100%;
			margin-bottom: $line-height-computed;
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						padding: $table-cell-padding;
						line-height: $line-height-base;
						vertical-align: top;
						border-top: 1px solid darken($brown, 10%);
						color: lighten($rose, 10%);
						&#next{
							a{
								float: right;
							}
						}
						a {
							color: lighten($brown, 20%);
						}
					}
				}
			}
			> thead > tr > th {
				vertical-align: bottom;
				border-bottom: 2px solid darken($brown, 10%);
			}
			> caption + thead,
			> colgroup + thead,
			> thead:first-child {
				> tr:first-child {
					> th,
					> td {
						border-top: 0;
					}
				}
			}
			> tbody + tbody {
				border-top: 2px solid darken($brown, 10%);
			}
		}
		caption {
			padding-top: $table-cell-padding;
			padding-bottom: $table-cell-padding;
			color: lighten($rose, 10%);
			text-align: left;
		}
		th {
			text-align: left;
		}
		ul {
			display: table;
			width: 100%;
			margin-bottom: 0;
			padding-left: 0;
			> li {
				position: relative;
				display: block;
				&.recentcomments,
				> a {
					position: relative;
					display: block;
					padding: 10px 15px;
					color: lighten($rose, 10%);
					&:hover,
					&:focus {
						background-color: darken($brown, 10%);
						text-decoration: none;
					}
				}
				&.recentcomments a {
					position: relative;
					display: block;
					padding: 0 5px !important;
					color: lighten($rose, 10%);
					text-decoration: underline;
				}
			}
		}
		.rss-date {
			display: table;
			width: 100%;
			padding-top: 10px;
			padding-left: 0;
			margin: 10px 0;
			border-top: 2px solid darken($brown, 10%);
			color: lighten($rose, 10%);
		}
		.post-date{
			@extend .rss-date;
			padding-top: 0;
			padding-bottom: 10px;
			border-top: none;
			border-bottom: 2px solid darken($brown, 10%);
		}
		div {
			@extend .rss-date;
			padding-top: 0;
			border-top: none;
			margin: 10px 0 0;
			&.rssSummary {
				border-top: none;
				margin-bottom: 10px;
				padding-top: 0;
				~ cite {
					color: lighten($rose, 10%);
					display: block;
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 2px solid darken($brown, 10%);
				}
			}
			> a {
				position: relative;
				display: block;
				padding: 10px 15px;
				color: lighten($rose, 10%);
				font-size: 1em !important;
				&:hover,
				&:focus {
					background-color: darken($brown, 10%);
					text-decoration: none;
				}
			}
		}
		ul.menu,
		form > div {
			display: table;
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
		}
		form {
			display: table;
			width: 100%;
			padding-left: 0;
			label {
				color: darken($brown, 10%);
			}
			button[type="submit"] {
				color: lighten($rose, 10%);
				background-color: darken($brown, 10%);
				&:hover,
				&:focus {
					background-color: darken($brown, 20%);
				}
			}
		}
		.textwidget {
			color: lighten($rose, 10%);
		}
	}
}