#index-sobre{
	img{
		width: auto;
		height: auto;
		display: table;
		margin: 0 auto;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		@include box-shadow(0 0 30px 10px rgba(0,0,0,.15));
	}
	.content{
		color: $brown;
		background-color: #FFF;
		padding: 50px;
		font-size: 20px;
		margin: 20px 0;
		text-align: center;
		z-index: 1;
		@include box-shadow(0 0 30px 10px rgba(0,0,0,.15));
	}
	.btn{
		background-color: $red;
		border: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		display: block;
		padding: 10px 0;
		color: #FFF;
		font-family: $first-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 1;
		@include transition();
		@include box-shadow(0 0 30px 10px rgba(0,0,0,.125));
		span{
			color: #FFF;
		}
		&:hover,
		&:focus{
			background-color: darken($red, 10%);
		}
	}
	@media (max-width: $screen-sm-max) {
		.btn-col{
			margin-top: 20px;
		}
	}
}