//== Tamanhos e Tipos de Fontes

$first-font: 'Montserrat', sans-serif;

//== Cores

$red-cfg: #DB4641;
$red: #C43F3A;
$brown: #7F4E4C;
$rose: #FF9C98;
$grey: #777;
$grey-dark: #333;
$grey-light: lighten($grey, 30%);

//== Media queries breakpoints

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;